.mogo {
    display: inline-flex;
    font-family: 'Martel', serif;
    font-size: 25px;
    color: gray;
    padding-right: 30px;
}
.link{
    display:inline-flex;
    text-decoration: none;
    padding-right: 50px;
    padding-bottom: 150px;
    font-size: 20px;
    color: gray;
    font-family: 'Martel', serif;
}
.ld {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courgette', cursive;
    font-size: 30px;
}
.mif {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
}
.inf {
    display: inline-flex;
    flex-direction: row;
    width: 320px;
    height: 80px;
    padding-top: 110px;
    padding-bottom: 95px;
    padding-left: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
.daun {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}
body {
    padding-right: 360px;
    padding-left: 360px;
}
.daun p {
    display: inline-flex;
    justify-content: center;
}
.f4 {
    display: inline-flex;
    align-items: baseline;
}
.lorem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 95px;
    padding-top: 90px;
}
.dwa {
    font-family: 'Martel', serif;
    color: gray;
}

